<label>Insert Tower</label>
<input type="text" name="_id" value="<%= tower._id %>" placeholder="Tower Name">
<input type="text" name="composition" value="<%= tower.composition %>" placeholder="Tower Type">
<input type="number" name="min_range" value="<%= tower.min_range %>" placeholder="Min Range">
<input type="number" name="max_range" value="<%= tower.max_range %>" placeholder="Max Range">
<input type="number" name="lead_amount" value="<%= tower.lead_amount%>" placeholder="Lead Amount">
<input type="number" name="base_cost" value="<%= tower.base_cost %>" placeholder="Base Cost">
<input type="boolean" name="target_fliers" value="<%= tower.target_fliers %>" placeholder="Target Fliers">


